# TODO(davido): Migrate all dependencies from WORKSPACE to MODULE.bazel
# https://issues.gerritcodereview.com/issues/303819949
common --noenable_bzlmod

build --workspace_status_command="python ./tools/workspace_status.py"
build --repository_cache=~/.gerritcodereview/bazel-cache/repository
build --incompatible_strict_action_env
build --action_env=PATH
build --disk_cache=~/.gerritcodereview/bazel-cache/cas

# Builds using remote_jdk11, executes using remote_jdk11 or local_jdk
build --java_language_version=11
build --java_runtime_version=remotejdk_11
build --tool_java_language_version=11
build --tool_java_runtime_version=remotejdk_11

# Builds and executes on RBE using remotejdk_11
build:remote11 --java_language_version=11
build:remote11 --java_runtime_version=remotejdk_11
build:remote11 --tool_java_language_version=11
build:remote11 --tool_java_runtime_version=remotejdk_11
build:remote11 --config=remote

# Builds using remote_jdk17, executes using remote_jdk17 or local_jdk
build:java17 --java_language_version=17
build:java17 --java_runtime_version=remotejdk_17
build:java17 --tool_java_language_version=17
build:java17 --tool_java_runtime_version=remotejdk_17

# Builds and executes on RBE using remotejdk_17
build:remote17 --java_language_version=17
build:remote17 --java_runtime_version=remotejdk_17
build:remote17 --tool_java_language_version=17
build:remote17 --tool_java_runtime_version=remotejdk_17
build:remote17 --config=remote

# Builds using remote_jdk21, executes using remote_jdk21 or local_jdk
build:java21 --java_language_version=21
build:java21 --java_runtime_version=remotejdk_21
build:java21 --tool_java_language_version=21
build:java21 --tool_java_runtime_version=remotejdk_21

# Builds and executes on RBE using remotejdk_21
build:remote21 --java_language_version=21
build:remote21 --java_runtime_version=remotejdk_21
build:remote21 --tool_java_language_version=21
build:remote21 --tool_java_runtime_version=remotejdk_21
build:remote21 --config=remote

test --build_tests_only
test --test_output=errors
test --flaky_test_attempts=3

import %workspace%/tools/remote-bazelrc

