/.project
/target
infer-out
bazel-*

# Do not add editor- and OS-specific files like *~ (Emacs) and .DS_Store
# (macOS). Instead, add them to system-wide and repo-wide gitignore files. See
# "git help gitignore".
