[project]
	description = Java implementation of Git (technology.jgit)
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[access "refs/heads/*"]
	forgeAuthor = group technology.jgit-committers
	label-Code-Review = -2..+2 group technology.jgit-committers
	label-IP-Clean = -1..+1 group technology.jgit-committers
	label-Verified = -1..+1 group technology.jgit-committers
	submit = group technology.jgit-committers
[access "refs/tags/*"]
	pushTag = group Administrators
