[project]
	description = Java implementation of Git (technology.jgit)
[receive]
	requireChangeId = true
[access "refs/heads/*"]
	forgeAuthor = group technology.jgit
	label-Code-Review = -2..+2 group technology.jgit
	label-IP-Clean = -1..+1 group technology.jgit
	label-Verified = -1..+1 group technology.jgit
	submit = group technology.jgit
[access "refs/tags/*"]
	pushTag = group technology.jgit
