[access]
	inheritFrom = eclipse-jgit/jgit-permissions
[submit]
	action = inherit
[access "refs/*"]
	owner = group user/Matthias Sohn (msohn)
[project]
	description = JGit, the Java implementation of git
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
