<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="jgit-4.18" sequenceNumber="1681482916">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.jetty.http" version="10.0.13"/>
      <unit id="org.eclipse.jetty.io" version="10.0.13"/>
      <unit id="org.eclipse.jetty.security" version="10.0.13"/>
      <unit id="org.eclipse.jetty.server" version="10.0.13"/>
      <unit id="org.eclipse.jetty.servlet" version="10.0.13"/>
      <unit id="org.eclipse.jetty.util" version="10.0.13"/>
      <unit id="org.eclipse.jetty.util.ajax" version="10.0.13"/>
      <repository id="jetty-10.0.x" location="https://download.eclipse.org/oomph/jetty/release/10.0.13/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="jakarta.servlet-api" version="4.0.0"/>
      <unit id="jakarta.servlet-api.source" version="4.0.0"/>
      <repository id="jetty-10.0.6" location="https://download.eclipse.org/eclipse/jetty/10.0.6/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.google.gson" version="2.10.1.v20230109-0753"/>
      <unit id="com.google.gson.source" version="2.10.1.v20230109-0753"/>
      <unit id="com.jcraft.jsch" version="0.1.55.v20221112-0806"/>
      <unit id="com.jcraft.jsch.source" version="0.1.55.v20221112-0806"/>
      <unit id="com.jcraft.jzlib" version="1.1.3.v20220502-1820"/>
      <unit id="com.jcraft.jzlib.source" version="1.1.3.v20220502-1820"/>
      <unit id="com.sun.jna" version="5.12.1.v20221103-2317"/>
      <unit id="com.sun.jna.source" version="5.12.1.v20221103-2317"/>
      <unit id="com.sun.jna.platform" version="5.12.1.v20221103-2317"/>
      <unit id="com.sun.jna.platform.source" version="5.12.1.v20221103-2317"/>
      <unit id="javaewah" version="1.1.13.v20211029-0839"/>
      <unit id="javaewah.source" version="1.1.13.v20211029-0839"/>
      <unit id="net.bytebuddy.byte-buddy" version="1.12.18.v20221114-2102"/>
      <unit id="net.bytebuddy.byte-buddy.source" version="1.12.18.v20221114-2102"/>
      <unit id="net.bytebuddy.byte-buddy-agent" version="1.12.18.v20221114-2102"/>
      <unit id="net.bytebuddy.byte-buddy-agent.source" version="1.12.18.v20221114-2102"/>
      <unit id="net.i2p.crypto.eddsa" version="0.3.0.v20220506-1020"/>
      <unit id="net.i2p.crypto.eddsa.source" version="0.3.0.v20220506-1020"/>
      <unit id="org.apache.ant" version="1.10.12.v20211102-1452"/>
      <unit id="org.apache.ant.source" version="1.10.12.v20211102-1452"/>
      <unit id="org.apache.commons.codec" version="1.14.0.v20221112-0806"/>
      <unit id="org.apache.commons.codec.source" version="1.14.0.v20221112-0806"/>
      <unit id="org.apache.commons.compress" version="1.22.0.v20221207-1049"/>
      <unit id="org.apache.commons.compress.source" version="1.22.0.v20221207-1049"/>
      <unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
      <unit id="org.apache.commons.logging.source" version="1.2.0.v20180409-1502"/>
      <unit id="org.apache.httpcomponents.httpclient" version="4.5.14.v20221207-1049"/>
      <unit id="org.apache.httpcomponents.httpclient.source" version="4.5.14.v20221207-1049"/>
      <unit id="org.apache.httpcomponents.httpcore" version="4.4.16.v20221207-1049"/>
      <unit id="org.apache.httpcomponents.httpcore.source" version="4.4.16.v20221207-1049"/>
      <unit id="org.apache.sshd.osgi" version="2.9.2.v20221117-1942"/>
      <unit id="org.apache.sshd.osgi.source" version="2.9.2.v20221117-1942"/>
      <unit id="org.apache.sshd.sftp" version="2.9.2.v20221117-1942"/>
      <unit id="org.apache.sshd.sftp.source" version="2.9.2.v20221117-1942"/>
      <unit id="org.assertj" version="3.20.2.v20210706-1104"/>
      <unit id="org.assertj.source" version="3.20.2.v20210706-1104"/>
      <unit id="org.hamcrest" version="2.2.0.v20210711-0821"/>
      <unit id="org.hamcrest.source" version="2.2.0.v20210711-0821"/>
      <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
      <unit id="org.hamcrest.core.source" version="1.3.0.v20180420-1519"/>
      <unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
      <unit id="org.hamcrest.library.source" version="1.3.0.v20180524-2246"/>
      <unit id="org.junit" version="4.13.2.v20211018-1956"/>
      <unit id="org.junit.source" version="4.13.2.v20211018-1956"/>
      <unit id="org.kohsuke.args4j" version="2.33.0.v20160323-2218"/>
      <unit id="org.kohsuke.args4j.source" version="2.33.0.v20160323-2218"/>
      <unit id="org.mockito.mockito-core" version="4.8.1.v20221103-2317"/>
      <unit id="org.mockito.mockito-core.source" version="4.8.1.v20221103-2317"/>
      <unit id="org.objenesis" version="3.3.0.v20221103-2317"/>
      <unit id="org.objenesis.source" version="3.3.0.v20221103-2317"/>
      <unit id="org.slf4j.api" version="1.7.30.v20221112-0806"/>
      <unit id="org.slf4j.api.source" version="1.7.30.v20221112-0806"/>
      <unit id="org.slf4j.binding.simple" version="1.7.30.v20221112-0806"/>
      <unit id="org.slf4j.binding.simple.source" version="1.7.30.v20221112-0806"/>
      <unit id="org.tukaani.xz" version="1.9.0.v20210624-1259"/>
      <unit id="org.tukaani.xz.source" version="1.9.0.v20210624-1259"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230302014618/repository"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.osgi" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2020-12/"/>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven" label="bouncycastle">
    <dependencies>
    	<dependency>
    		<groupId>org.bouncycastle</groupId>
    		<artifactId>bcpg-jdk18on</artifactId>
    		<version>1.73</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.bouncycastle</groupId>
    		<artifactId>bcprov-jdk18on</artifactId>
    		<version>1.73</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.bouncycastle</groupId>
    		<artifactId>bcpkix-jdk18on</artifactId>
    		<version>1.73</version>
    		<type>jar</type>
    	</dependency>
    	<dependency>
    		<groupId>org.bouncycastle</groupId>
    		<artifactId>bcutil-jdk18on</artifactId>
    		<version>1.73</version>
    		<type>jar</type>
    	</dependency>
    </dependencies>
    </location>
  </locations>
</target>
