<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="jgit-4.18" sequenceNumber="1645013287">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="jakarta.servlet-api" version="4.0.0"/>
      <unit id="jakarta.servlet-api.source" version="4.0.0"/>
      <unit id="org.eclipse.jetty.http" version="10.0.6"/>
      <unit id="org.eclipse.jetty.http.source" version="10.0.6"/>
      <unit id="org.eclipse.jetty.io" version="10.0.6"/>
      <unit id="org.eclipse.jetty.io.source" version="10.0.6"/>
      <unit id="org.eclipse.jetty.security" version="10.0.6"/>
      <unit id="org.eclipse.jetty.security.source" version="10.0.6"/>
      <unit id="org.eclipse.jetty.server" version="10.0.6"/>
      <unit id="org.eclipse.jetty.server.source" version="10.0.6"/>
      <unit id="org.eclipse.jetty.servlet" version="10.0.6"/>
      <unit id="org.eclipse.jetty.servlet.source" version="10.0.6"/>
      <unit id="org.eclipse.jetty.util" version="10.0.6"/>
      <unit id="org.eclipse.jetty.util.source" version="10.0.6"/>
      <unit id="org.eclipse.jetty.util.ajax" version="10.0.6"/>
      <unit id="org.eclipse.jetty.util.ajax.source" version="10.0.6"/>
      <repository id="jetty-10.0.x" location="https://download.eclipse.org/eclipse/jetty/10.0.6/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.google.gson" version="2.8.9.v20220111-1409"/>
      <unit id="com.google.gson.source" version="2.8.9.v20220111-1409"/>
      <unit id="com.jcraft.jsch" version="0.1.55.v20190404-1902"/>
      <unit id="com.jcraft.jsch.source" version="0.1.55.v20190404-1902"/>
      <unit id="com.jcraft.jzlib" version="1.1.1.v201205102305"/>
      <unit id="com.jcraft.jzlib.source" version="1.1.1.v201205102305"/>
      <unit id="com.sun.jna" version="5.8.0.v20210503-0343"/>
      <unit id="com.sun.jna.source" version="5.8.0.v20210503-0343"/>
      <unit id="com.sun.jna.platform" version="5.8.0.v20210406-1004"/>
      <unit id="com.sun.jna.platform.source" version="5.8.0.v20210406-1004"/>
      <unit id="javaewah" version="1.1.13.v20211029-0839"/>
      <unit id="javaewah.source" version="1.1.13.v20211029-0839"/>
      <unit id="net.bytebuddy.byte-buddy" version="1.9.0.v20181107-1410"/>
      <unit id="net.bytebuddy.byte-buddy-agent" version="1.9.0.v20181106-1534"/>
      <unit id="net.bytebuddy.byte-buddy-agent.source" version="1.9.0.v20181106-1534"/>
      <unit id="net.bytebuddy.byte-buddy.source" version="1.9.0.v20181107-1410"/>
      <unit id="net.i2p.crypto.eddsa" version="0.3.0.v20210923-1401"/>
      <unit id="net.i2p.crypto.eddsa.source" version="0.3.0.v20210923-1401"/>
      <unit id="org.apache.ant" version="1.10.12.v20211102-1452"/>
      <unit id="org.apache.ant.source" version="1.10.12.v20211102-1452"/>
      <unit id="org.apache.commons.codec" version="1.14.0.v20200818-1422"/>
      <unit id="org.apache.commons.codec.source" version="1.14.0.v20200818-1422"/>
      <unit id="org.apache.commons.compress" version="1.21.0.v20211103-2100"/>
      <unit id="org.apache.commons.compress.source" version="1.21.0.v20211103-2100"/>
      <unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
      <unit id="org.apache.commons.logging.source" version="1.2.0.v20180409-1502"/>
      <unit id="org.apache.httpcomponents.httpclient" version="4.5.13.v20210128-2225"/>
      <unit id="org.apache.httpcomponents.httpclient.source" version="4.5.13.v20210128-2225"/>
      <unit id="org.apache.httpcomponents.httpcore" version="4.4.15.v20220209-2345"/>
      <unit id="org.apache.httpcomponents.httpcore.source" version="4.4.15.v20220209-2345"/>
      <unit id="org.apache.sshd.osgi" version="2.8.0.v20211227-1750"/>
      <unit id="org.apache.sshd.osgi.source" version="2.8.0.v20211227-1750"/>
      <unit id="org.apache.sshd.sftp" version="2.8.0.v20211227-1750"/>
      <unit id="org.apache.sshd.sftp.source" version="2.8.0.v20211227-1750"/>
      <unit id="org.assertj" version="3.20.2.v20210706-1104"/>
      <unit id="org.assertj.source" version="3.20.2.v20210706-1104"/>
      <unit id="org.bouncycastle.bcpg" version="1.70.0.v20220105-1522"/>
      <unit id="org.bouncycastle.bcpg.source" version="1.70.0.v20220105-1522"/>
      <unit id="org.bouncycastle.bcpkix" version="1.70.0.v20220105-1522"/>
      <unit id="org.bouncycastle.bcpkix.source" version="1.70.0.v20220105-1522"/>
      <unit id="org.bouncycastle.bcprov" version="1.70.0.v20220105-1522"/>
      <unit id="org.bouncycastle.bcprov.source" version="1.70.0.v20220105-1522"/>
      <unit id="org.bouncycastle.bcutil" version="1.70.0.v20220105-1522"/>
      <unit id="org.bouncycastle.bcutil.source" version="1.70.0.v20220105-1522"/>
      <unit id="org.hamcrest" version="2.2.0.v20210711-0821"/>
      <unit id="org.hamcrest.source" version="2.2.0.v20210711-0821"/>
      <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
      <unit id="org.hamcrest.core.source" version="1.3.0.v20180420-1519"/>
      <unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
      <unit id="org.hamcrest.library.source" version="1.3.0.v20180524-2246"/>
      <unit id="org.junit" version="4.13.2.v20211018-1956"/>
      <unit id="org.junit.source" version="4.13.2.v20211018-1956"/>
      <unit id="org.kohsuke.args4j" version="2.33.0.v20160323-2218"/>
      <unit id="org.kohsuke.args4j.source" version="2.33.0.v20160323-2218"/>
      <unit id="org.mockito" version="2.23.0.v20200310-1642"/>
      <unit id="org.mockito.source" version="2.23.0.v20200310-1642"/>
      <unit id="org.objenesis" version="2.6.0.v20180420-1519"/>
      <unit id="org.objenesis.source" version="2.6.0.v20180420-1519"/>
      <unit id="org.slf4j.api" version="1.7.30.v20200204-2150"/>
      <unit id="org.slf4j.api.source" version="1.7.30.v20200204-2150"/>
      <unit id="org.slf4j.binding.simple" version="1.7.30.v20200204-2150"/>
      <unit id="org.slf4j.binding.simple.source" version="1.7.30.v20200204-2150"/>
      <unit id="org.tukaani.xz" version="1.9.0.v20210624-1259"/>
      <unit id="org.tukaani.xz.source" version="1.9.0.v20210624-1259"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/S20220215213605/repository"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.osgi" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2020-12/"/>
    </location>
  </locations>
</target>
